/* dark theme */

#dark .dropdown {
  background-color: #1f1f1f;
}
#dark .subreddit-items, #dark .subreddits-source-title{
 color: #ffffff;
 background: none;
}
#dark .subreddit-items:hover {
  color: #000000;
  background: #ffffff;
 }
 #dark .current-subreddit {
  color: #ffffff;
  background: #00c5fc;
 }
 #dark .post-container {
  color: #ffffff;
  background: #1f1f1f;
 }
 #dark .nav {
  box-shadow: none;
  background: #1f1f1f;
 }
 #dark .redditUsername1, #dark .redditUsername {
  font-style: oblique;
  color: #ffffff;
 }
 #dark .commentBody {
  background: #131313;
 }
 #dark .commentBody:hover {
  box-shadow: none;
  border: 1px solid #ffffff;
 }
 #dark .clear-button {
  background: #00c5fc;
 }
 #dark .labs p {
  color: #ffffff;
 }
 #dark .Logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
 }
/* Search bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0px 6px 11px 0px rgba(184, 184, 184, 0.8); 
  background: #ffffff;
}

body {
  background: rgb(205, 204, 204);
}
.loool {
  display: flex;
}
.Logo {
   width: 150px;
}

.searchBar {
   width: 200px;
   background: #E4E4E4;
   border: none;
   height: 20px;
}

.labs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Subreddit */

.dropdown {
 float: right;
 box-shadow: 0px 6px 11px 0px rgba(210, 210, 210, 0.8); 
 width: 17rem;
 background: #ffffff;
 margin-top: 1%;
 height: 20%;
}

.subreddits-section{
 flex-direction: column;
 align-content: flex-start;
 display: block;
}

.subreddits-list{
 max-width: 400px;
 list-style: none;
 margin:0px;
 padding: 0px;
 padding-top: 15px;
 padding-bottom: 10px;
 border-radius: 10px;
}

.subreddits-list:hover{
 cursor: pointer;
}

.subreddit-items{
 min-width: 270px;
 max-width: auto;
 border: 0;
 display:flex;
 align-items: center;
 padding-left: 15px;
 font-size: 13px;
 margin-bottom: 10px;
 font-weight: bold;
 background: #ffffff;
}
.subreddit-items:hover{
 background-color: rgb(236, 232, 232);
 cursor: pointer;
 width: 100%;
}

.subreddits-source-title{
 margin-bottom: 20px;
 color: #000000;
 font-size: 20px;
 padding-left: 1rem;
}

.current-subreddit{
 min-width: 270px;
 max-width: auto;
 border: 0;
 display:flex;
 align-items: center;
 padding-left: 15px;
 font-size: 15px;
 margin-bottom: 10px;
 background-color: rgba(255, 69, 0, 0.08);
 background-repeat:no-repeat;
 font-weight: bold;
}


.subreddit-icon{
 width: 30px;
 border-radius: 50%;
 margin-right: 20px;
}

@media only screen and (max-width: 640px) {
 .subreddits-source-title{
     display: none;
 }

 .subreddits-list{
     position:absolute;
     display: block;
     overflow-y: scroll;
     z-index: 3;
     background-color: lightgray;
     border-radius: 0%;
     max-height: 700px;
     opacity: .9;
 } 
}

/* Posts */

.Check {
  float: left;
  padding: 0 2rem;
}
.post-container {
 box-shadow: 0px 6px 11px 0px rgba(184, 184, 184, 0.8); 
 display: flex;
 flex-direction: column;
 padding: 3%;
 margin: 1% 2%;
 width: 50%;
 float: left;
 background: #ffffff;
}
.heading {
 height: 126px;
 text-align: center;
 display: flex;
 align-items: center;
 font-size: x-large;
}
.image {
 height: 210px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.postImg {
 width: 80%;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 2%;
}
.videoImg {
  width: 80%;
  display: block;
 margin-left: auto;
 margin-right: auto;
 height: 200px;
}

.comments-button {
  border: none;
  width: 100px;
  float: right;
  cursor: pointer;
  border-radius: 2rem;
}

@media screen and (max-width: 900px) {
  .post-container {
    float: none;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.loool {
  display: block;
}
  .dropdown {
    float: left;
    margin-top: 10%;
    width: 90%;
  }
  .heading{
    font-size:medium;
  }
  .redditUsername1, .timeStamp {
    font-size: x-small;
  }
  .comments-button {
    width: 23%;
    font-size: x-small;
  }
  .Logo {
    width: 80px;
  }
  .searchBar {
    width: 100px;
  }
  .labs p {
    font-size: small;
  }
  .commenting {
    font-size: small;
  }
  .redditUsername {
    font-size: small;
  }
  .clear-button {
    width: 23%;
    font-size: x-small;
    height: 30px;
  }
}

/* comment section */

.commentBody {
  background: #f9f7f7;
}
.commentBody:hover {
  box-shadow: 0px 6px 11px 0px rgba(189, 189, 189, 0.8);
  transform: 1s ease all;
  cursor: pointer;
}

.redditUsername {
  cursor: pointer;
  color: #0007C7;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.redditUsername1 {
  cursor: pointer;
  color: #0007C7;
  font-weight: bold;
}

.commenting {
  padding: 0.5rem 1rem;
}

.clear-button {
  background: #0011f8;
  border: none;
  color: #ffffff;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}